* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    background-image: linear-gradient(to right top, #00345d, #002958, #001e53, #00124c, #050043);
}

.wrapper {
    width: 90%;
    max-width: 35em;
    max-height: 90vh;
    background-color: #3A2B72;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 6, 53, 0.2);


}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}

#arrow-left {
    width: 6em;
    height: 6em;
    position: absolute;
    top: 40%;
    right: 0;
}


.vi-primary {
    fill: orange;
}

.vi-primary,
.vi-accent {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 0;
    fill-rule: evenodd;
}

.vi-accent {
    fill: #070c2b;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#spin-btn {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 25%;
    left: 50%;
    height: 26%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: orange;
    color: rgb(157, 86, 0);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;

}

#final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    color: #202020;
    font-weight: 500;
}

@media screen and (max-width: 730px) {
    .wrapper {
        font-size: .7em;
    }

    
}