* {
    box-sizing: border-box;
}

html {
    background-color: rgb(9, 0, 27);
    scroll-behavior: smooth;
}

.hText {
    color: bisque;
}

#windowIco {
    stroke: #6196BD;
}

#windowIco:hover {
    stroke: rgb(255, 191, 0);
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;

}

.winType {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.winCalcs {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    opacity: 0;
    transition: opacity .5s ease-in;
}

.mesure {
    position: relative;
    /* display: flex; */

}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* height: 300px; */
}



.winImg {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 15px;
}

.winImg img {
    /* aspect-ratio: 4/3; */
    object-fit: contain;
    inline-size: 90%;
}


.none {
    display: none;
    transition: 2s ease-in;
}

.wWidth {
    display: flex;
    width: 80%;
    margin-top: 1.5em;
}

.wWidth .inpFieldW {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.wHeight {
    width: 80px;
    height: 80%;
    bottom: 20px;
    top: 0px;
}

.wHeight div {
    height: 100%;
    align-items: flex-end;

}

.wHeight div input#wHeight {
    appearance: slider-vertical;
    height: 200px;
}

input[type=number] {
    width: 60px;
    height: 20px;
    font-size: 1em;
    border: none;
    outline: none;
    text-align: right;
    background-color: rgb(200, 200, 200);
}

input[type=number]:invalid {
    border: 1 px solid red;
}

.inpLabelH {
    color: rgb(209, 209, 209);
    margin-left: 15px;
}

.inpLabelW {
    color: rgb(209, 209, 209);
    margin-left: .2em;
}

.inInp {
    display: flex;
}

input[type=range] {
    width: 70%;
}

.moreOptions {
    display: flex;
    justify-content: center;
}

.optionCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.calcButton {

    min-width: 200px;
    width: 20%;
    margin: 0px 15px 0px 15px;
    height: 2em;
    background-color: #1a213f;
    color: #e7e7e7;
    font-size: 1.5em;

}

.calcButton:hover {
    border: 3px solid #6693c5;
    transition: 1s;
}

.calcButton:active {
    background-color: #233a9f;
}

.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

input.me-2 {
    width: 2.2em;
    height: 2.2em;
}

.btn.btn-primary {
    color: #d1d1d1;
}

.totalCost {
    display: flex;
    margin: 15px 0px 15px 0px;

    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.totText,
.totNum {
    color: #e7e7e7;
    font-size: 1.5em;
}

.totNum::after{
content: ' $';
}

@media screen and (max-width: 425px) {

    .optionCont {
        display: flex;
        flex-direction: column;
    }

    .calcButton {
        font-size: 1em;
        margin: 10px 0 20px 0;
    }
}