/* select all elements and change the box sizing to border box */

*,
**::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    background-color: rgb(143, 140, 140);
    font-size: 16px;
}

.card {
    background-color: #dddddd;
    padding: 84px;
    border-radius: 23px;
}

.title {
    font-size: 34px;
    font-family: Merriweather;
    flex-grow: 1;
}

.avarage-rating {
    font-size: 26px;
    gap: 8px;
    margin-bottom: 8px;
    /* flex props */
    display: flex;
    justify-content: center;
    align-items: center;

}

.avagage-rating-section {

    font-weight: 500;
    font-size: 14px;
    padding: 17px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 7px 20px 0 grey;
    text-align: center;
    min-width: 150px;
}

.star-icon {
    width: 25px;
    height: 25px;
}

.avagage-rating-section .star-icon {
    width: 46px;
    height: 46px;

}

.star-icon .icon-path {
    fill: #ed8a19;
    stroke: yellow;
}

.header {
    gap: 80px;
    /* line side by side */
    display: flex;
    gap: 80px;
    margin-bottom: 56px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-icon{
    position: absolute;
    height: 24px;
    padding: 16px;
    pointer-events: none;
    
}

.search-input{
    padding: 16px;
    border-radius: 26px;
    background-color: white;
    font-weight: 500;
    font-size: inherit;
    padding-left: calc(10px + 16px + 24px);
    border: none;
    width: 100%;
}